<div>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Vos sos vos?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>{{pers?.apellidoYNombre}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.documentoN}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.funcion}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.club}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.categoria}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.domicilio}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>{{pers?.tipoLicencia}}</mat-list-item>
        </mat-list>       
      
      </mat-card-content>
    
    </mat-card>
  </div>
